doctype html 

html(lang="en-US")

  head 
    title GitHub PR info
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")
  
  body 
    header 
      h1 GitHub Pull Request Information
    main 
      h2= `Below are the open pull requests and commit data for ${url}:`
    ul
      each pullRequest in pullRequests
        li
          ul  
            li#prHeader= `PR Title => ${pullRequest.title}`
            li= `Total Commits => ${pullRequest.commitsData.numberCommits}`
            li= `Last Commit Date => ${pullRequest.commitsData.lastCommitDate}`
            li= `Last Commit Author => ${pullRequest.commitsData.lastCommitAuthor}`
            li= `Last Commit Message => ${pullRequest.commitsData.lastCommitMsg}`
        br
    footer
      form(action=`/` method="get")    
          fieldset.actions  
            input(type="submit" value="Search Again")
        
    